@page "{id:int?}"
@model BugTracker.Pages.Reports.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Report</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Report.ID" />
            <div class="form-group">
                <label asp-for="Report.Title" class="control-label"></label>
                <input asp-for="Report.Title" class="form-control" />
                <span asp-validation-for="Report.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Report.Description" class="control-label"></label>
                <input asp-for="Report.Description" class="form-control" />
                <span asp-validation-for="Report.Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Report.Status" /> @Html.DisplayNameFor(model => model.Report.Status)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Report.DateCreated" class="control-label"></label>
                <input asp-for="Report.DateCreated" class="form-control" />
                <span asp-validation-for="Report.DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Report.Priority" class="control-label"></label>
                <input asp-for="Report.Priority" class="form-control" />
                <span asp-validation-for="Report.Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
